.select-list {
  display: flex;
  flex-wrap: wrap;
}

.select-list__item {
  background-color: #5181b8;
  color: #fff;
}

.select-list__item,
.select-list__add-button {
  border-radius: 2px;
  position: relative;

  height: 22px;
  line-height: 22px;

  padding: 0 21px 0 7px;

  box-sizing: border-box;
  margin: 1.5px;

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

.select-list__remove-button,
.select-list__button-icon {
  display: inline;
  position: absolute;
  right: 0;

  top: 50%;
  transform: translateY(-50%);

  margin-right: 6px;

  height: 12px;
  width: 12px;

  background-color: inherit;
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
}

.select-list__button-icon {
  background-image: url("./img/icon_add.svg");
}

.select-list__remove-button {
  background-image: url("./img/icon_remove.svg");
  -moz-background-size: 90%;
}

.select-list__add-button {
  margin-left: 6px;

  border: none;

  background-color: #dae2ea;
  color: #55677d;
}
