body {
  margin: 0;
  padding: 0;

  height: 100vh;
  width: 100vw;
}

.container {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  transform: translate(-50%, calc(-50% - 100px));
}

.dropdown {
  width: 380px;

  font-size: 12.5px;
  font-family: Arial;
}

.dropdown ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.dropdown__input-box {
  position: relative;

  border: 1px solid rgb(211, 217, 222);
  border-radius: 2px 2px 0 0;
  box-sizing: border-box;

  padding: 3px;
}

.dropdown__input {
  width: 100%;
  height: 30px;
  padding: 3px 3px 5px;
  box-sizing: border-box;

  border: none;
}

.dropdown__search-list {
  position: absolute;
  top: 100%;

  width: 100%;
  max-width: 100%;
  max-height: 200px;
  overflow-y: scroll;

  border: 1px solid rgb(211, 217, 222);
  border-top:none;
  border-radius: 0 0 2px 2px;

  box-sizing: border-box;
}

.dropdown__search-list .search-item:last-child {
  border: none;
}

.search-item {
  width: 100%;
  max-width: 100%;

  display: flex;

  height: 50px;
  padding: 8px 12px;
  box-sizing: border-box;

  border-bottom: 1px solid rgb(231, 232, 236);
}

.search-item__avatar {
  margin-right: 10px;
}

.search-item__avatar img,
.search-item__avatar canvas {
  border-radius: 50%;
  height: 34px;
}

.search-item__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.search-item__name,
.search-item__meta {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  line-height: 15px;
}

.search-item__name {
  color: #42648b;
  font-weight: 800;
}

.search-item__meta {
  color: rgb(101, 101, 101);
}

.select-list {
  display: flex;
  flex-wrap: wrap;
}

.select-list__item {
  background-color: #5181b8;
  color: #fff;
}

.select-list__item,
.select-list__add-button {
  border-radius: 2px;
  position: relative;

  height: 22px;
  line-height: 22px;

  padding: 0 21px 0 7px;

  box-sizing: border-box;
  margin: 1.5px;

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

.select-list__remove-button,
.select-list__button-icon {
  display: inline;
  position: absolute;
  right: 0;

  margin-left: 6px;

  background-color: inherit;
  border: none;
}

.select-list__add-button {
  margin-left: 6px;

  border: none;

  background-color: #dae2ea;
  color: #55677d
}
